In [1]:
#all Basics stuff

In [2]:
# variabe decalaration and intialization | case sensitive
X=2

In [3]:
print(X)

2

In [4]:
print(X)

2

In [5]:
1+1

2

In [6]:
type(X)

int

In [7]:
y=2.6

In [8]:
type(y)

float

In [9]:
#multiple assignment like javascript
x,y,z=2,3,'test'

In [10]:
print(x)

2

In [11]:
# list

In [12]:
L1=[1,2,3,4,5]

In [13]:
# convert list to array using Numpy

In [14]:
import numpy as np

In [15]:
A=np.array(L1)

In [16]:
A

array([1, 2, 3, 4, 5])

In [17]:
type(A)

numpy.ndarray

In [18]:
#add Items

L1.

In [19]:
L1

[1, 2, 3, 4, 5]

In [20]:
L1.remove(4)

In [21]:
L1

[1, 2, 3, 5]

In [22]:
#Tuple

In [23]:
T1=(1,2,3,4,5,6)

In [24]:
T1

(1, 2, 3, 4, 5, 6)

In [25]:
type(T1)

tuple

T2=(5,6,1,2)

In [26]:
T2=(5,6,3,1)

In [27]:
T3=T1+T2

#r

In [28]:
T3

(1, 2, 3, 4, 5, 6, 5, 6, 3, 1)

In [29]:
#Sets

In [30]:
S1=set([1,2,2,2,2,2,3])

In [31]:
S2=set([3,4,4,4,5])

In [32]:
S3=S1-S2

In [33]:
S3

{1, 2}

In [34]:
S1>S2

False

In [35]:
#Dictionary

In [36]:
Dictionary={'student':'classStudent','name':'Python', 'learning':'Yes'}

In [37]:
Dictionary['name']

'Python'

In [38]:
Dictionary['newKey']='Good to learn'

In [39]:
Dictionary

{'student': 'classStudent',
 'name': 'Python',
 'learning': 'Yes',
 'newKey': 'Good to learn'}

In [40]:
# if conditoins

In [41]:
X=-2

In [42]:
if(X>0):
    print('Yes Value is greater than Zero')

In [43]:
# if else conditions

In [44]:
if(X>0):
    print("yes it is greater than zero!")
else:
    print("no it is lesser than zero")

no it is lesser than zero

In [45]:
#if elif else conditions

In [46]:
if(X>=3):
    print('Value is greater than or equal to 3')
elif(X>=2):
    print('value is greater than 2 and lesser that 3')
else:
    print('Value is less than 2')

Value is less than 2

In [47]:
# marks Iteration using If elif else conditions

In [50]:
p,c,m=10,33,33

In [51]:
total=(p+c+m)/3

In [52]:
total

25.333333333333332

In [53]:
if(total>=75):
    print('Grade A')
elif(total>=60):
    print('First Class')
elif(total>=50):
    print('Second Class')
elif(total>=33):
    print('Third class')
else:
    print('fail')

fail

In [54]:
#Even or Odd

In [55]:
num = 5

In [56]:
if(num%2 == 0):
    print("Even")
else:
    print("Odd")

Odd

In [57]:
#For Loops

In [58]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [59]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
L=10

In [62]:
for i in range(0,10):
    print(L-i)

10
9
8
7
6
5
4
3
2
1